@{
    ViewBag.Title = "Upload Chapter";
}

<h2>Upload Chapter</h2>

@using (Html.BeginForm( "Index", 
                        "Chapter",
                        FormMethod.Post, 
                        new { enctype = "multipart/form-data" }))
{
    <input type="file" name="file" />
    <input type="submit" value="OK" />
}
