<link type="text/css" rel="stylesheet" href="@Url.Content("~/Content/Updates.css")" />

@{
    ViewBag.Title = "Pathos";
}

<div id="top5" class="update_box">
    <div class="update_head"><h3>Top 5 on Pathos</h3></div>
    <div class="update_body">
        1.
        <br />
        2.
        <br />
        3.
        <br />
        4.
        <br />
        5.
        <br />
    </div>
</div>

<div id="My Updates" class="update_box">
    <div class="update_head"><h3>My Updates</h3></div>
    <div class="update_body">
        1.
        <br />
        2.
        <br />
        3.
        <br />
        4.
        <br />
        5.
        <br />
    </div>
</div>

@Html.ActionLink("Reader", "Reader", "Chapter")